<%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body bg-success">
        <h5 class="card-title", style="text-align:center;">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small>Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body bg-warning">
        <h5 class="card-title", style="text-align:center;">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small>Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body bg-info">
        <h5 class="card-title", style="text-align: center;">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
      </div>

      <div class="card-footer">
        <small>Last updated 3 mins ago</small>

      </div>
    </div>
  </div>
</div>
<br />
<div>
    <p style="text-align:center;"><small>@Copyright by -</small> <del>Nagendra</del></p>
</div>
 