   <h1 style="text-align:center;"> About us</h1><br />

	<p>A friend means so much to us. And we enjoy being with our friends. True friends are hard to come by. True friends love each other through thick and thin. They share with and care for each other at all times. The bond between true friends is so strong that it lasts through life. Having a true friend is a real gift. It is valuable like a precious jewel. And the friendship between true friends is always treasured and cherished.
	We hope these friendship paragraphs will help students in completing their school assignments.
    These will also help children to write and read out paragraphs in simple words and small entences.
    tudents can select any paragraph on friendship according to their particular need and requirement.





<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      	<div class="card-footer">
        <h5 class="card-title", style="text-align:center;">Friendship Paragraph 1 (100 words)</h5>
        </div>
		<p class="card-text", style="margin-left:2%">A friend in need is a friend indeed! A true friend will be one  who will stay by your side at all times. A real friend stays by you through thick and thin.
			A true friend should be cherished and whose friendship should be safeguarded. Losing a true friend is like losing a treasure. And you may never recover the wealth you lose. A true friend is difficult to come by. So value the friendship of such a friend. Most of all, reciprocate the love your friend has for you. And give your friend a special place in your heart.
        </p>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      	<div class="card-footer">
        <h5 class="card-title", style="text-align:center;">Friendship Paragraph 2 (150 words)</h5>
         </div>
        <p class="card-text", style="margin-left:2%">Love is not love/ that alters when it alteration finds. So wrote Shakespeare. Your true friend loves you come what may. It is the love and friendship your friend has for you that matter most. Any change of circumstance matters little to the deep love shared.

	    Friendship is to be treasured like a jewel. If jewels are lost they can be replicated. But a true friend cannot be cloned. Value your friendship. It will pass the test of time. Once true, always true. Such is a real friend.

	    A true friend cares for you at all times. Even when the going is bad, your friend will stay with you with unwavering love and affection and as much care and concern. Likewise, even if you are not in physical proximity with each other the friendship with a true friend does not wane. Space and time do not matter in true friendship.</p>
      </div>
  </div>
  <div class="col">
    <div class="card h-100">
     

      	<div class="card-footer">
           <h5 class="card-title", style="text-align: center;">Friendship Paragraph 3 (200 words)</h5>
        </div>
        <p class="card-text", style="margin-left:2%">Man is a social being. He lives in society. As a gregarious and social being he lives and interacts with so many people all through his life.

	In our interactions with people we make many friends. We enjoy the company of our friends; in fact that is why they are our friends.

	We influence our friends, and likewise our friends influence us. Friendships therefore have a great bearing on our life. That is why we must be choosy when we make friends, because we want long lasting true friends whom we may trust and who, in turn, can trust us. Friendship calls for loyalty. If you cannot be loyal to your friends, you will lose them.

	In a real friendship that has matured over time, there are not even any expectations between two friends. You love your friend whatever may happen, and you love not for any reason or to get anything in return from your friend. And this is the sentiment shared by your friend too. Such a friendship is a real friendship and it gives true joy and contentment. Even troubles and miseries that life may bring seem insignificant when you have such a friendship to bank on.</p>
      </div>
   
  </div>

   <div class="col">
    <div class="card h-100">
      

       <div class="card-footer">
        <h5 class="card-title", style="text-align:center;">Friendship Paragraph 4 (250 words)</h5>
       </div>

		<p class="card-text", style="margin-left:2%">Friendship is a bond that is built carefully and treasured fiercely. It is a bond that you would not let go easily; you will defend it at all cost. It takes time to nurture a friendship. It is not created for the nonce. It is cultivated with much love and care over time. There is a great deal that goes into building and keeping a friendship. It is love and care that keep a friendship going. Where there is no love but only greed and selfishness there is no friendship at all.

	    A friend is one who will sacrifice anything for you and yet not feel it a sacrifice at all, for there is love and concern for the other in a true friendship. When there is love in a friendship it can last a lifetime.

	    A true friend is one who will share in your joys and in your troubles. Your friend will feel joy in your enjoyment and pain in your time of trouble. It is heart-warming and comforting to have a real friend. You know you will have a shoulder to weep on if sorrow or failure comes your way. Just as you will be assured of a hand to share a high five with in your joy and success. A friend is one who shares with you with no expectations. There is no quid pro quo in such a friendship. Friendship gives true happiness, because when you have a real friend you have all their love.
        </p>
      </div>

  </div>

    <div class="col">
    <div class="card h-100">
    

        <div class="card-footer">
        <h5 class="card-title", style="text-align:center;">Friendship Paragraph 5 (300 words)</h5>
        </div>

		<p class="card-text", style="margin-left:2%">Who is a true friend? In a world where everyone thinks of themselves and is concerned only of their own welfare if you have a true friend on whom you can bank on you are indeed lucky. A true friend is cherished. The bond of love and special friendship that you share with your friend is always treasured.

	    Who is your true friend?

	   Who is your true friend? It may be your mother or your father. It may be your brother or sister. It may be your spouse. It may be your childhood friend or your classmate. It could be anyone with whom you share a very special bond.

	   With a friend you can share so much of your life. You can share your joys and successes and you can also share your troubles and failures. Your real friend loves you for what you are without being judgmental and without having any expectations either.
        </p>
      </div>

   
  </div>


    <div class="col">
    <div class="card h-100">
      

      	<div class="card-footer">
            <h5 class="card-title", style="text-align:center;">Friendship Paragraph 6 (400 words)</h5>
        </div>


		<p class="card-text", style="margin-left:2%">t is only a true friend who will give of her/his time most generously. Time is precious, especially in these modern times where everything is marked by great speed, and so one who gives you her/his time is your true friend. A friend will lend you an ear and hear you out. Sharing your troubles reduces their intensity and you feel so much lighter when you have poured out your heart to your friend. Likewise, your true friend will feel joy at your success and cheer for you.

	    It is only a true friend who can play the role of a friend, philosopher and guide. Such a friend will advise you with your best interest at heart. A true friend is one who you will always value and cherish with all your heart. And you will reciprocate in full measure a true friend’s love and affection as also care and concern.

        </p>
      </div>
  </div>

</div>
