<%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>



 <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">

    	<div >
    		<div class="card-footer">
        <h5 class="card-title", style="text-align: center;">Friends</h5>
        </div>
        <p class="card-text", style="margin-left:3%;">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      
    	<img src="<%= asset_path "friends.jpg"%>", width="100%", height="auto">
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
     
      <img src="<%= asset_path "friend.jpg"%>", width="100%", height="auto">

    </div>
  </div>
</div>